workflows/TikTok_Complete_Processor_ASSEMBLYAI.json
{
  "name": "TikTok Video Complete Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-video-complete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-main",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 208],
      "webhookId": "analyze-video-complete"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://royhen.app.n8n.cloud/webhook/process-video-nocode",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ video_url: $json.body.video_url }) }}",
        "options": {}
      },
      "id": "get-video-info",
      "name": "Get Video Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [464, 208]
    },
    {
      "parameters": {
        "url": "={{ $json.video_download_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-video",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [688, 304]
    },
    {
      "parameters": {
        "name": "={{ $('Get Video Info').item.json.author + '_' + $('Get Video Info').item.json.video_id + '.mp4' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list"
        },
        "options": {}
      },
      "id": "upload-to-drive",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [912, 400],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ofFKlLc4IoxLD68F",
          "name": "Google Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "id": "merge-all",
      "name": "Merge All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1704, 192]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a metadata generator for TikTok videos. Generate:\\n1. Title: 50-100 characters, descriptive, specific, keyword-rich, covering BOTH visual and spoken content\\n2. Description: 2-3 sentences covering visual AND transcribed audio content\\n3. Tags: 5+ tags covering topic, style, mood, format, purpose. NO audience tags like 'viral', 'trending', 'popular'. Focus on content descriptors.\\n\\nReturn ONLY valid JSON with fields: title, description, tags (array)\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Visual Analysis: \" + $json.choices[0].message.content + \"\\n\\nTranscription: \" + ($json.text || \"No spoken words detected\") + \"\\n\\nGenerate metadata for this video.\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"max_tokens\": 400\n} }}",
        "options": {}
      },
      "id": "generate-metadata",
      "name": "Generate Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1880, 208],
      "credentials": {
        "openAiApi": {
          "id": "p4lXz4PI3LIye0EB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const videoInfo = $('Get Video Info').item.json;\nconst visualAnalysis = $('Visual Analysis').item.json.choices[0].message.content;\nconst transcription = $('Check Status').item.json.text;\nconst metadata = JSON.parse($('Generate Metadata').item.json.choices[0].message.content);\nconst googleDrive = $('Upload to Google Drive').item.json;\n\nreturn {\n  json: {\n    title: metadata.title,\n    description: metadata.description,\n    tags: metadata.tags,\n    transcription: transcription,\n    video_url: videoInfo.video_url,\n    video_id: videoInfo.video_id,\n    author: videoInfo.author,\n    duration: videoInfo.duration,\n    music: { title: videoInfo.music_title, artist: videoInfo.music_author },\n    visual_analysis: visualAnalysis,\n    google_drive: {\n      file_id: googleDrive.id,\n      file_name: googleDrive.name,\n      file_url: googleDrive.webViewLink || 'N/A'\n    },\n    processed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "format-output",
      "name": "Format Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2104, 208]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2328, 208]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Analyze this TikTok video cover image. Provide detailed analysis covering:\\n1. Visual elements (people, objects, setting, colors, composition)\\n2. Style and mood (aesthetic, tone, atmosphere)\\n3. Any visible text or graphics\\n4. Overall impression and theme\\n\\nBe specific and detailed.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $('Get Video Info').item.json.cover_url }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "visual-analysis",
      "name": "Visual Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [912, 16],
      "credentials": {
        "openAiApi": {
          "id": "p4lXz4PI3LIye0EB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "binaryData",
        "inputDataFieldName": "data",
        "bodyContentType": "raw",
        "options": {
          "timeout": 120000
        }
      },
      "id": "upload-to-assemblyai",
      "name": "Upload to AssemblyAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [912, 208],
      "credentials": {
        "httpHeaderAuth": {
          "id": "assemblyai",
          "name": "AssemblyAI API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"audio_url\": $json.upload_url} }}",
        "options": {}
      },
      "id": "submit-transcription",
      "name": "Submit Transcription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1088, 208],
      "credentials": {
        "httpHeaderAuth": {
          "id": "assemblyai",
          "name": "AssemblyAI API"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": 3
      },
      "id": "wait-3s",
      "name": "Wait 3 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1264, 208],
      "webhookSuffix": ""
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ \"https://api.assemblyai.com/v2/transcript/\" + $('Submit Transcription').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 208],
      "credentials": {
        "httpHeaderAuth": {
          "id": "assemblyai",
          "name": "AssemblyAI API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-completed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-completed",
      "name": "If Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1616, 208]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Get Video Info", "type": "main", "index": 0}]]
    },
    "Get Video Info": {
      "main": [
        [
          {"node": "Download Video", "type": "main", "index": 0},
          {"node": "Visual Analysis", "type": "main", "index": 0}
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {"node": "Upload to Google Drive", "type": "main", "index": 0},
          {"node": "Upload to AssemblyAI", "type": "main", "index": 0}
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [[{"node": "Merge All", "type": "main", "index": 0}]]
    },
    "Upload to AssemblyAI": {
      "main": [[{"node": "Submit Transcription", "type": "main", "index": 0}]]
    },
    "Submit Transcription": {
      "main": [[{"node": "Wait 3 Seconds", "type": "main", "index": 0}]]
    },
    "Wait 3 Seconds": {
      "main": [[{"node": "Check Status", "type": "main", "index": 0}]]
    },
    "Check Status": {
      "main": [[{"node": "If Completed", "type": "main", "index": 0}]]
    },
    "If Completed": {
      "main": [
        [{"node": "Merge All", "type": "main", "index": 1}],
        [{"node": "Wait 3 Seconds", "type": "main", "index": 0}]
      ]
    },
    "Visual Analysis": {
      "main": [[{"node": "Merge All", "type": "main", "index": 2}]]
    },
    "Merge All": {
      "main": [[{"node": "Generate Metadata", "type": "main", "index": 0}]]
    },
    "Generate Metadata": {
      "main": [[{"node": "Format Final Output", "type": "main", "index": 0}]]
    },
    "Format Final Output": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
