workflows/Video_Processor.json
{
  "name": "Video Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-video-complete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7398681e-0a40-4060-aa00-90ea83f327b9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        -736
      ],
      "webhookId": "analyze-video-complete"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-central1-video-processor-rhe.cloudfunctions.net/video-downloader",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ video_url: $json.body.video_url, extract_audio: true }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "cloud-function-download",
      "name": "Cloud Function Download",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        -736
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ audio_url: $json.video.public_url }) }}",
        "options": {}
      },
      "id": "e44f6e5f-654d-450f-a5e3-1e2b6ab5c586",
      "name": "Submit Transcription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        -944
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "eJYyx8goZbb1aVw9",
          "name": "AssemblyAI API"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "952973b1-38fc-41ac-ad12-567d292104d5",
      "name": "Wait 3 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        96,
        -944
      ],
      "webhookId": "66e94262-ce65-4a7f-b10c-bfe01c328f5c"
    },
    {
      "parameters": {
        "url": "={{ \"https://api.assemblyai.com/v2/transcript/\" + $('Submit Transcription').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "9d9a3c8d-2b7a-4ce1-a447-d937e8064f12",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        -944
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "eJYyx8goZbb1aVw9",
          "name": "AssemblyAI API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "status-completed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c9fd86c9-0eb9-40e6-971f-76287821b474",
      "name": "If Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        448,
        -944
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Analyze this TikTok video cover image. Provide detailed analysis covering:\\n1. Visual elements (people, objects, setting, colors, composition)\\n2. Style and mood (aesthetic, tone, atmosphere)\\n3. Any visible text or graphics\\n4. Overall impression and theme\\n\\nBe specific and detailed.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $('Cloud Function Download').item.json.metadata.thumbnail }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "6480a4cc-da75-42f4-8fc3-fa6c03a12e06",
      "name": "Visual Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        -560
      ],
      "credentials": {
        "openAiApi": {
          "id": "p4lXz4PI3LIye0EB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "b45c60bb-9582-49d8-a222-79ba00b7564b",
      "name": "Merge Transcription & Visual",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        720,
        -576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a metadata generator for TikTok videos. Generate:\\n1. Title: 50-100 characters, descriptive, specific, keyword-rich, covering BOTH visual and spoken content\\n2. Description: 2-3 sentences covering visual AND transcribed audio content\\n3. Tags: 5+ tags covering topic, style, mood, format, purpose. NO audience tags like 'viral', 'trending', 'popular'. Focus on content descriptors.\\n\\nReturn ONLY valid JSON with fields: title, description, tags (array)\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Visual Analysis: \" + $json.choices[0].message.content + \"\\n\\nTranscription: \" + ($json.text || \"No spoken words detected\") + \"\\n\\nGenerate metadata for this video.\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"max_tokens\": 400\n} }}",
        "options": {}
      },
      "id": "947ce68d-4ad4-4a61-a27d-151bcf27870e",
      "name": "Generate Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        -576
      ],
      "credentials": {
        "openAiApi": {
          "id": "p4lXz4PI3LIye0EB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Cloud Function Download').item.json.audio.public_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "id": "download-audio",
      "name": "Download Audio from Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        -736
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst accessKey = 'ab567f8b45516db50580c7b29c0554b9';\nconst accessSecret = 'gGF5OC5cWqnTL9gawpoqmBrFq7xGMAp9kIKkkFTV';\nconst host = 'identify-ap-southeast-1.acrcloud.com';\n\nconst httpMethod = 'POST';\nconst httpUri = '/v1/identify';\nconst dataType = 'audio';\nconst signatureVersion = '1';\nconst timestamp = Math.floor(Date.now() / 1000).toString();\n\nconst stringToSign = `${httpMethod}\\n${httpUri}\\n${accessKey}\\n${dataType}\\n${signatureVersion}\\n${timestamp}`;\nconst signature = crypto.createHmac('sha1', accessSecret).update(stringToSign).digest('base64');\n\n// Rename binary property from 'data' to 'sample' for ACRCloud\nconst binary = { sample: $input.item.binary.data };\n\nreturn {\n  json: {\n    host,\n    access_key: accessKey,\n    data_type: dataType,\n    signature_version: signatureVersion,\n    signature,\n    timestamp\n  },\n  binary\n};"
      },
      "id": "acrcloud-prepare",
      "name": "ACRCloud Prepare Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -736
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.host }}/v1/identify",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "access_key",
              "value": "={{ $json.access_key }}"
            },
            {
              "name": "data_type",
              "value": "={{ $json.data_type }}"
            },
            {
              "name": "signature_version",
              "value": "={{ $json.signature_version }}"
            },
            {
              "name": "signature",
              "value": "={{ $json.signature }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "sample_bytes",
              "value": "={{ $binary.sample.fileSize }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "sample",
              "inputDataFieldName": "sample"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "acrcloud-recognition",
      "name": "ACRCloud Music Recognition",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        -736
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Cloud Function Download').item.json.video.public_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "id": "download-video-for-drive",
      "name": "Download Video from Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        -720
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "1578197b-c077-42f8-aa29-38013f3117d6",
      "name": "Merge Metadata with Video",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1328,
        -720
      ]
    },
    {
      "parameters": {
        "name": "={{ (() => {\n  const metadata = JSON.parse($('Generate Metadata').item.json.choices[0].message.content);\n  const title = metadata.title;\n  const author = $('Cloud Function Download').item.json.metadata.uploader;\n  const sanitizedTitle = title.replace(/[^a-z0-9\\s]/gi, '').replace(/\\s+/g, ' ').trim().substring(0, 80);\n  const capitalizedAuthor = author.split(/[_\\s]+/).map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');\n  return `${sanitizedTitle} - ${capitalizedAuthor}.mp4`;\n})() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1G0AhK4a9chK8bhYe6wIBgQD7HsVPHOhc",
          "mode": "list",
          "cachedResultName": "TikTok Videos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1G0AhK4a9chK8bhYe6wIBgQD7HsVPHOhc"
        },
        "options": {}
      },
      "id": "5f130963-8427-4802-a182-efc8c360babf",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1520,
        -720
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ofFKlLc4IoxLD68F",
          "name": "Google Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-audd",
      "name": "Merge ACRCloud with Output",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1920,
        -720
      ]
    },
    {
      "parameters": {
        "jsCode": "const cloudFunction = $('Cloud Function Download').item.json;\nconst visualAnalysis = $('Visual Analysis').item.json.choices[0].message.content;\nconst transcription = $('Check Status').item.json.text;\nconst metadata = JSON.parse($('Generate Metadata').item.json.choices[0].message.content);\nconst googleDrive = $('Upload to Google Drive').item.json;\nlet acrResult = $('ACRCloud Music Recognition').item.json;\n\n// Parse ACRCloud result - handle wrapped data field\nif (acrResult.data && typeof acrResult.data === 'string') {\n  acrResult = JSON.parse(acrResult.data);\n}\n\n// Minimum confidence threshold (70%)\nconst MIN_CONFIDENCE = 0.70;\n\n// Helper function to parse a single music match\nconst parseMatch = (music, matchType) => {\n  const score = music.score || 0;\n  return {\n    title: music.title,\n    artist: music.artists?.[0]?.name || 'Unknown',\n    album: music.album?.name || null,\n    release_date: music.release_date || null,\n    confidence: Math.round(score * 100),\n    confidence_raw: score,\n    match_type: matchType,\n    play_offset_ms: music.play_offset_ms || null,\n    duration_ms: music.duration_ms || null,\n    spotify_id: music.external_metadata?.spotify?.track?.id || null,\n    apple_music_id: music.external_metadata?.apple?.track?.id || null,\n    deezer_id: music.external_metadata?.deezer?.track?.id || null\n  };\n};\n\n// Collect ALL matches from both music and humming arrays\nlet allMatches = [];\nlet allMatchesFiltered = [];\n\nif (acrResult.status && acrResult.status.code === 0 && acrResult.metadata) {\n  // Get all music matches\n  const musicMatches = acrResult.metadata.music || [];\n  for (const music of musicMatches) {\n    const parsed = parseMatch(music, 'music');\n    allMatches.push(parsed);\n    if (parsed.confidence_raw >= MIN_CONFIDENCE) {\n      allMatchesFiltered.push(parsed);\n    }\n  }\n  \n  // Get all humming matches\n  const hummingMatches = acrResult.metadata.humming || [];\n  for (const music of hummingMatches) {\n    const parsed = parseMatch(music, 'humming');\n    allMatches.push(parsed);\n    if (parsed.confidence_raw >= MIN_CONFIDENCE) {\n      allMatchesFiltered.push(parsed);\n    }\n  }\n}\n\n// Sort by confidence (highest first)\nallMatches.sort((a, b) => b.confidence_raw - a.confidence_raw);\nallMatchesFiltered.sort((a, b) => b.confidence_raw - a.confidence_raw);\n\n// Build recognition status\nlet recognitionStatus = 'no_match';\nif (allMatches.length > 0) {\n  if (allMatchesFiltered.length > 0) {\n    recognitionStatus = 'matched';\n  } else {\n    recognitionStatus = 'low_confidence';\n  }\n}\n\n// Get highest confidence for summary\nconst highestConfidence = allMatches.length > 0 ? allMatches[0].confidence : null;\n\nreturn {\n  json: {\n    title: metadata.title,\n    description: metadata.description,\n    tags: metadata.tags,\n    transcription: transcription,\n    video_url: cloudFunction.video.public_url,\n    video_id: cloudFunction.metadata.video_id,\n    author: cloudFunction.metadata.uploader,\n    duration: cloudFunction.metadata.duration,\n    source: cloudFunction.metadata.source,\n    music: {\n      recognized_songs: allMatchesFiltered,\n      recognition_status: recognitionStatus,\n      total_matches_found: allMatches.length,\n      matches_above_threshold: allMatchesFiltered.length,\n      highest_confidence: highestConfidence,\n      all_matches_raw: allMatches\n    },\n    visual_analysis: visualAnalysis,\n    google_drive: {\n      file_id: googleDrive.id,\n      file_name: googleDrive.name,\n      file_url: googleDrive.webViewLink || 'N/A'\n    },\n    cloud_storage: {\n      video_url: cloudFunction.video.public_url,\n      audio_url: cloudFunction.audio?.public_url || null,\n      video_size_bytes: cloudFunction.video.size_bytes,\n      audio_size_bytes: cloudFunction.audio?.size_bytes || null\n    },\n    processed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "4154fe57-bb4e-412a-a463-c8e047651e16",
      "name": "Format Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        -720
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "fecc95d8-a8bd-48c7-8a49-72045fba5b0e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2300,
        -720
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Cloud Function Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloud Function Download": {
      "main": [
        [
          {
            "node": "Submit Transcription",
            "type": "main",
            "index": 0
          },
          {
            "node": "Visual Analysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Audio from Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Transcription": {
      "main": [
        [
          {
            "node": "Wait 3 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Seconds": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "If Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Completed": {
      "main": [
        [
          {
            "node": "Merge Transcription & Visual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 3 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visual Analysis": {
      "main": [
        [
          {
            "node": "Merge Transcription & Visual",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Transcription & Visual": {
      "main": [
        [
          {
            "node": "Generate Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Metadata": {
      "main": [
        [
          {
            "node": "Download Video from Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio from Storage": {
      "main": [
        [
          {
            "node": "ACRCloud Prepare Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ACRCloud Prepare Signature": {
      "main": [
        [
          {
            "node": "ACRCloud Music Recognition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ACRCloud Music Recognition": {
      "main": [
        [
          {
            "node": "Merge ACRCloud with Output",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Download Video from Storage": {
      "main": [
        [
          {
            "node": "Merge Metadata with Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Metadata with Video": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Merge ACRCloud with Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge ACRCloud with Output": {
      "main": [
        [
          {
            "node": "Format Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}